flask
redis
langchain
langchain-google-genai    # 用於 Gemini Chat
langchain-ollama          # 用於 Local Embedding
langchain-chroma          # 新版 Chroma 整合包
langchain-community
langchain-text-splitters
python-dotenv
pypdf
chromadb                 # ChromaDB 客戶端
google-api-python-client
google-auth-oauthlib
google-auth-httplib2